body {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    margin: 0;
}

.camera-container {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 20px;
}

#camera_feed {
    width: 1280px;
    height: 1024px;
}

.button-container {
    margin-top: 20px;
}

.navigation-button {
    padding: 15px 30px;
    font-size: 20px;
    font-weight: bold;
    cursor: pointer;
}

