<!DOCTYPE html>
<html>
<head>
    <title>로봇 카메라 영상 웹</title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/styles.css') }}">
    <script src="{{ url_for('static', filename='js/eventemitter3.min.js') }}"></script>
    <script src="{{ url_for('static', filename='js/roslib.min.js') }}"></script>
</head>
<body>
    <div class="main-container">
        <div class="camera-container">
            <img id="camera_feed" alt="Camera Feed"/>
        </div>
        <div class="button-container">
            <button class="navigation-button" onclick="window.location.href='/object_detection'">객체인식영상</button>
        </div>
    </div>
    <div class="direction-container">
        <div class="button-row">
            <button class="direction-button" id="forward">↑</button>
        </div>
        <div class="button-row">
            <button class="direction-button" id="left">←</button>
            <button class="direction-button" id="stop">■</button>
            <button class="direction-button" id="right">→</button>
        </div>
        <div class="button-row">
            <button class="direction-button" id="backward">↓</button>
        </div>
    </div>
    <div class="command-container">
        <div class="button-call">
            <button class="call-button" id="call">호출</button>
        </div>
        <div class="button-return">
            <button class="return-button" id="return">반환</button>
        </div>
    </div>
    <script>
        // ROSBridge에 연결
        var ros = new ROSLIB.Ros({
            url: 'ws://localhost:9090'
        });

        ros.on('connection', function() {
            console.log('웹소켓 서버와 연결되었습니다.');
        });

        ros.on('error', function(error) {
            console.log('웹소켓 서버와 연결 중 오류 발생.', error);
        });

        ros.on('close', function() {
            console.log('웹소켓 서버와의 연결 닫기.');
        });

        var imageTopic = new ROSLIB.Topic({
            ros: ros,
            name: '/image_raw',
            messageType: 'sensor_msgs/Image'
        });

        imageTopic.subscribe(function(message) {
            console.log('이미지 메시지 수신');

            // yuv422_yuy2 형식의 ROS 이미지 메시지를 처리
            var canvas = document.createElement('canvas');
            canvas.width = message.width;
            canvas.height = message.height;
            var context = canvas.getContext('2d');
            var imgData = context.createImageData(message.width, message.height);

            function yuv422ToRgb(data, width, height) {
                var rgb = new Uint8Array(width * height * 4);
                for (var i = 0, j = 0; i < data.length; i += 4, j += 8) {
                    var y0 = data.charCodeAt(i);
                    var u = data.charCodeAt(i + 1);
                    var y1 = data.charCodeAt(i + 2);
                    var v = data.charCodeAt(i + 3);

                    rgb[j] = yuvToRgb(y0, u, v)[0];
                    rgb[j + 1] = yuvToRgb(y0, u, v)[1];
                    rgb[j + 2] = yuvToRgb(y0, u, v)[2];
                    rgb[j + 3] = 255;

                    rgb[j + 4] = yuvToRgb(y1, u, v)[0];
                    rgb[j + 5] = yuvToRgb(y1, u, v)[1];
                    rgb[j + 6] = yuvToRgb(y1, u, v)[2];
                    rgb[j + 7] = 255;
                }
                return rgb;
            }

            function yuvToRgb(y, u, v) {
                var r = y + 1.403 * (v - 128);
                var g = y - 0.344 * (u - 128) - 0.714 * (v - 128);
                var b = y + 1.770 * (u - 128);
                return [Math.min(Math.max(r, 0), 255), Math.min(Math.max(g, 0), 255), Math.min(Math.max(b, 0), 255)];
            }

            // yuv422_yuy2를 RGB로 변환
            var data = atob(message.data);
            var rgbData = yuv422ToRgb(data, message.width, message.height);

            for (var i = 0; i < imgData.data.length; i++) {
                imgData.data[i] = rgbData[i];
            }

            // 캔버스에 이미지 데이터 설정
            context.putImageData(imgData, 0, 0);

            // Blob URL 생성
            canvas.toBlob(function(blob) {
                var url = URL.createObjectURL(blob);
                var imgElement = document.getElementById('camera_feed');
                imgElement.src = url;
            }, 'image/jpeg');
        });

        function sendMoveCommand(direction) {
            fetch('/move', {
                method: 'POST',
                headers: {
                    'Content-Type': 'application/json'
                },
                body: JSON.stringify({ direction: direction })
            }).then(response => {
                if (response.ok) {
                    console.log(`Moving ${direction}`);
                } else {
                    console.error(`Failed to move ${direction}`);
                }
            });
        }

        // 각 방향 버튼에 대한 클릭 이벤트 핸들러 설정
        document.getElementById('forward').onclick = function() {
            sendMoveCommand('forward');
        };

        document.getElementById('backward').onclick = function() {
            sendMoveCommand('backward');
        };

        document.getElementById('left').onclick = function() {
            sendMoveCommand('left');
        };

        document.getElementById('right').onclick = function() {
            sendMoveCommand('right');
        };
        document.getElementById('stop').onclick = function() {
            sendMoveCommand('stop');
        };
    </script>
</body>
</html>

