<!DOCTYPE html>
<html>
<head>
    <title>로봇 카메라 영상 웹</title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/styles.css') }}">

    <script type="text/javascript" src="https://cdn.jsdelivr.net/npm/easeljs/lib/easeljs.min.js"></script>
    <script type="text/javascript" src="https://cdn.jsdelivr.net/npm/eventemitter2/lib/eventemitter2.min.js"></script>
    <script type="text/javascript" src="https://s3.eu-west-1.amazonaws.com/rosject.io/js/roslib.min.js"></script>
    <script type="text/javascript" src="https://cdn.jsdelivr.net/npm/ros2d/build/ros2d.min.js"></script>

</head>
<body>
    <div id="map" style="width: 800px; height: 600px; border: 1px solid black;"></div>
    <div class="direction-container">
        <div class="button-row">
            <button class="direction-button" id="forward">↑</button>
        </div>
        <div class="button-row">
            <button class="direction-button" id="left">←</button>
            <button class="direction-button" id="stop">■</button>
            <button class="direction-button" id="right">→</button>
        </div>
        <div class="button-row">
            <button class="direction-button" id="backward">↓</button>
        </div>
    </div>
    <div class="command-container">
        <button class="command-button" id="call">호출</button>
        <button class="command-button" id="return">반환</button>
    </div>
    <script type="text/javascript">

        // Connect to ROS
        var ros = new ROSLIB.Ros({
          url: 'ws://localhost:9090'
        });

        ros.on('connection', function() {
          console.log('Connected to websocket server.');
        });

        ros.on('error', function(error) {
          console.log('Error connecting to websocket server: ', error);
        });

        ros.on('close', function() {
          console.log('Connection to websocket server closed.');
        });

        // Create the main viewer
        var viewer = new ROS2D.Viewer({
          divID : 'map',
          width : 800,
          height : 600
        });

        // 터프 생성
        var gridClient = new ROS2D.OccupancyGridClient({
          ros: ros,
          rootObject: viewer.scene,
          continuous: true,
          topic: '/map'
        });

        // 초기 뷰 설정
        gridClient.on('change', function() {
          viewer.scaleToDimensions(gridClient.currentGrid.width, gridClient.currentGrid.height);
          viewer.shift(gridClient.currentGrid.pose.position.x, gridClient.currentGrid.pose.position.y);
        });

        function sendMoveCommand(direction) {
            fetch('/move', {
                method: 'POST',
                headers: {
                    'Content-Type': 'application/json'
                },
                body: JSON.stringify({ direction: direction })
            }).then(response => {
                if (response.ok) {
                    console.log(`Moving ${direction}`);
                } else {
                    console.error(`Failed to move ${direction}`);
                }
            });
        }

        function sendCommand(cmd) {
            fetch('/command', {
                method: 'POST',
                headers: {
                    'Content-Type': 'application/json'
                },
                body: JSON.stringify({ direction: direction })
            }).then(response => {
                if (response.ok) {
                    console.log(`executing ${cmd}`);
                } else {
                    console.error(`Failed to execute ${cmd}`);
                }
            });
        }

        // 각 방향 버튼에 대한 클릭 이벤트 핸들러 설정
        document.getElementById('forward').onclick = function() {
            sendMoveCommand('forward');
        };

        document.getElementById('backward').onclick = function() {
            sendMoveCommand('backward');
        };

        document.getElementById('left').onclick = function() {
            sendMoveCommand('left');
        };

        document.getElementById('right').onclick = function() {
            sendMoveCommand('right');
        };
        document.getElementById('stop').onclick = function() {
            sendMoveCommand('stop');
        };

        // 호출, 반환 버튼에 대한 클릭 이벤트 핸들러 설정
        document.getElementById('call').onclick = function() {
            sendCommand('call');
        };

        document.getElementById('return').onclick = function() {
            sendCommand('return');
        };
    </script>
</body>
</html>

